a {
    cursor: pointer;
}

.app-container {
    min-height: 320px;
    overflow: hidden;
}

.btn-delete-user {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

.form-group {
    margin-bottom: 1.5rem !important;
    height: 74px;
}

.align-items {
    width: 500px;
    margin: auto
}
@media screen and (max-width: 991px)  {
    .align-items {
        width:300px;
    }
}